{% extends 'base.html' %}

{% block title %}Editar Cartão{% endblock %}

{% block content %}

    <h1>Editar Cartão de Crédito</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome.label }}
            {{ form.nome(class="form-control", value=cartao.nome) }}
            {% for error in form.nome.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.limite.label }}
            {{ form.limite(class="form-control", value=cartao.limite, id="limite", type="text") }}  {# type="text" adicionado e corrigido #}
            {% for error in form.limite.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('listar_cartoes') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}

{% block scripts %}
    <script>
      $(document).ready(function() {
        $('#limite').mask('000.000.000.000.000,00', { reverse: true });
      });
    </script>
{% endblock %}
