{% extends 'base.html' %}

{% block title %}Contas Bancárias{% endblock %}

{% block content %}

    <h1>Contas Bancárias</h1>


    <a href="{{ url_for('add_conta_bancaria') }}" class="btn btn-primary mb-3">Adicionar Conta Bancária</a>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Saldo</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for conta in contas_bancarias %}
                <tr>
                    <td>{{ conta.nome }}</td>
                    <td>{{ formatar_br(conta.saldo) }}</td>
                    <td>
                        <a href="{{ url_for('edit_conta_bancaria', id=conta.id) }}"
                           class="btn btn-sm btn-outline-primary">Editar</a>
                        <form action="{{ url_for('delete_conta_bancaria', id=conta.id) }}" method="post"
                              style="display: inline;">
                            <button type="submit" class="btn btn-sm btn-outline-danger"
                                    onclick="return confirm('Tem certeza que deseja excluir esta conta bancária?');">Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Nenhuma conta bancária cadastrada.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
