{% extends 'base.html' %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}

    <h1>Redefinir Senha</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class='form-control') }}
            {% for error in form.username.errors %}
                <small class='text-danger'>{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.new_password.label }}
            {{ form.new_password(class='form-control') }}
            {% for error in form.new_password.errors %}
                <small class='text-danger'>{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class='form-control') }}
            {% for error in form.confirm_password.errors %}
                <small class='text-danger'>{{ error }}</small>
            {% endfor %}
        </div>
        {{ form.submit(class='btn btn-primary') }}
        <a href="{{ url_for('login') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
